*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 1.6;
}

.padding-util {
	padding: 2rem 25rem;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1f2937;
	color: #fff;
}

.header__logo-text {
	font-size: 2.4rem;
	font-size: 700;
}

.header__nav {
}
.header__nav--list {
	list-style-type: none;
	display: flex;
	gap: 2rem;
}
.header__nav--item,
.header__nav--item a:link,
.header__nav--item a:active,
.header__nav--item a:visited {
	text-decoration: none;
	color: #e5e7eb;
	font-size: 1.8rem;
}

.hero {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #1f2937;
	gap: 5rem;
	padding-top: 12rem;
	padding-bottom: 15rem;
}

.hero-textbox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	gap: 2rem;
}

.hero__heading {
	font-size: 6.8rem;
	color: #f9faf8;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 2px;
}

.hero__text {
	font-size: 1.8rem;
	color: #e5e7eb;
}

.hero__cta,
.hero__cta a:link,
.hero__cta:visited,
.hero__cta:active {
	display: inline-block;
	text-decoration: none;
	font-size: 1.8rem;
	font-weight: 700;
	color: #e5e7eb;
	padding: 1rem 4rem;
	background-color: #3882f6;
	border-radius: 1rem;
	text-align: center;
	/* justify-self: flex-end; */
}

.hero-image {
	background-color: #545861;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10rem 25rem;
	color: #fff;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4rem;
	padding: 8rem 35rem;
}

.info__heading {
	font-size: 3.6rem;
	font-weight: 900;
	color: #1f2937;
}

.info__figure--container {
	display: flex;
	align-items: center;
	gap: 6rem;
}

.info__figure--box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	height: 26rem;
	width: 20rem;
}
.info__figure--img {
	display: inline-block;
	border: 2px solid #3882f6;
	border-radius: 1rem;
	width: 100%;
	height: 100%;
}
.info__figure--caption {
	display: inline-block;
	text-align: center;
}
